.questionList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .questionList h1 {
    font-size: 46px;
    margin-bottom: 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 85%;
  }
  
  th {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #333;
  }
  
  th:hover {
    background-color: #f5f5f5;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #333;
    font-size: large;
  }

  .titleText{
    font-size: larger;
  }

.askButton{
  margin-bottom: 10%;

}